In [1]:
print("Hello World")

Hello World

In [2]:
print("Hey Hi, How are you doing today?")

Hey Hi, How are you doing today?

In [3]:

print("Hey hi")
print("Hello my name is Yogesh")

Hey hi
Hello my name is Yogesh

In [4]:
print ('hi')
print("Hey hi")
# '#' is used to write comments in python
# anything you write after # will not be executed
print("Hello my name is Yogesh")

hi
Hey hi
Hello my name is Yogesh

In [5]:
x=5
y=2.5
z= "Hello"
print(x+y)
print(x,y,z)

7.5
5 2.5 Hello

In [6]:
print(x+y,x*y,x-y,x/y)

7.5 12.5 2.5 2.0

In [7]:
print(y+z) 
 # This will cause an error because you cannot add a float and a string

TypeError: unsupported operand type(s) for +: 'float' and 'str'

# Python Programming
 ## Codes
 ### My Codes
 #### Your Codes

# Hello Python
- Python
- Python

## Phython Programming
- Data Types and Data Structures
    - Primitive Data Types - Integer, Float, String, boolean, complex
    - Non-primitive data types- list, set, tuple, ditionary
- Control flow
    - if else- Conditional Programming
    - for loop
    - while loop
- Function
    - Builtin Functions in python
    - User Defined functions
    - Miscellaneous Concepts (Pythonic way) - Lambda function, generators, decorators, map, filter
- Object Oriented Programming
    - Concept of class
    - Inheritance
- Modules/Packages
    - Core modules in python - os, time, sys, math
    - User Defined Modules
    - Third party module- numpy, pandas

#### Primitive Data Types

In [ ]:
# integer
x = 5
print(x)
type(x)

5

int

In [ ]:
# Float
y=2.55
print(y)
type(y)

2.55

float

In [ ]:
#String
y='Python Programming started'
print(y)
type(y)

Python Programming started

str

In [ ]:
#Boolean
k=True
print(k)
type(k)

True

bool

In [ ]:
#Complex
a=3+5j
print(a)
type(a)

(3+5j)

complex

#### Non-Primitive Data Types

### List
- Used to store collection of values, it supports repeatation of values
- A List supports values of multiple data types
- List is mutable - can be modified
- A list can be created in python by specifying a set of values inside square/upper/box bracket=[]

In [2]:
x=[45,6,12.556,'Hello',True,12,True,45]
print(x)
type(x)

[45, 6, 12.556, 'Hello', True, 12, True, 45]

list

In [ ]:
# To check total number of elements in the list
len(x)

8

In [ ]:
# Indexing - Left to Right - Always starts with 0
print(x[0])  # First element
print(x[3])  # Fourth element
print(x[5])  # Sixth element
print(x[11])  # IndexError: list index out of range

45
Hello
12

IndexError: list index out of range

In [ ]:
# Python supports negative indexing as well - right to left- starts with -1
print(x[-1])  # Last element
print(x[-4])  # Fourth last element
print(x[-8])  # Eighth last element
print(x[-9])  # IndexError: list index out of range

45
True
45

IndexError: list index out of range

In [ ]:
# Slicing- Accessing a range of elements from the list
print(x[2:5]) # From index 2 to index 4 (5 is excluded)

[12.556, 'Hello', True]

In [ ]:
print(x[0:4]) # From index 0 to index 3 (4 is excluded)

[45, 6, 12.556, 'Hello']

In [ ]:
print(x[-6:-1]) # From index -6 to index -2 (-1 is excluded)
# [45, 6, 12.556, 'Hello', True, 12, True, 45]

[12.556, 'Hello', True, 12, True]

In [ ]:
# Modify a list element- List is mutable i.e. its elements can be changed
print(x)
x[3]='Python Programming'
print(x)

[45, 6, 12.556, 'Hello', True, 12, True, 45]
[45, 6, 12.556, 'Python Programming', True, 12, True, 45]

### Range() Vs SLice() Difference

In [ ]:
#Range() is used to generate a sequence of numbers(mostly in loops) 
#range(start,stop,step)

for i in range(1,10,2): # Ya Madhe 1 ha start aahe , 10 ha stop aahe ani 2 ha step aahe
                        # 2 step mhnje 1 ntr 2 step mhnje 3 ntr 2 step mhnje 5 ntr asa chalel
                        # if raange(1,10,3) mhnje 1 ntr 4 ntr 7 ntr asa chalel
                        #coz step  aahe 1 ntr 3 rd step mhnje 4 amd 4 ntr  rd step mhnje 7.
    print(i)

1
3
5
7
9

In [ ]:
#Slice() is used to extract a portion of a sequence like list, tuple, string etc.
#slice(start,stop,step)

data=[10,20,30,40,50,60]
s=slice(1,5,2)  # start=1, stop=5, step=2
                # index ithe 0 pasn start hoil mhnje index 1 la 20 aahes ani end la 5 mhnje index 4 prynt chalel
                # mhnje 20 pasn 50 prynt i.e. index 1 pasn index 4 prynt list bhetel
                # tya mdhe 2 chya step ne gheil mhnje output mdhe 20 ani 40 yeil 
print(data[s])  # Output: [20, 40]

# --- IGNORE ---# is slice(0,5,2) # start=0, stop=5, step=2
                 # index ithe 0 pasn start hoil mhnje index 0 la 10 aahes ani end la 5 mhnje index 4 prynt chalel
                # mhnje 10 pasn 50 prynt i.e. index 0 pasn index 4 prynt list bhetel
                # tya mdhe 2 chya step ne gheil mhnje output mdhe 10,30,50 yeil

[20, 40]

In [3]:
# Add a new value to the end of the list using append() method
x.append(100)
print(x)

[45, 6, 12.556, 'Hello', True, 12, True, 45, 100]

In [5]:
# Insert a new value at a specific index using insert() method
x.insert(2, 75)  # Insert 75 at index 2
x.insert(5,False)
print(x)

[45, 6, 75, 75, 12.556, False, 'Hello', True, 12, True, 45, 100]

In [8]:
#remove an element by the value using remove() method
x.remove(False)
print(x)

[45, 6, 12.556, 'Hello', True, 12, True, 45, 100]

In [10]:
#Remove an element by position using pop() method
x.pop(3); # removes element at index 3
print(x)

[45, 6, 12.556, True, 12, True, 45, 100]

#### Tuple
- Can be used to store a collection of elements
- Elements can be of different data types, it supports repeatation of values
- Tuples are immutable(cannot be modified or change)
- Tuples are created using paranthesis/small/lower/round bracket= ()

In [11]:
y=(45,56,2.5,'Hello','hi',False)
print(y)
type(y)

(45, 56, 2.5, 'Hello', 'hi', False)

tuple

In [12]:
# Total number of elements in the tuple
len(y)

6

In [13]:
#Indexing in tuple left to right - index starts from 0 same as list
print(y[0])  # First element
print(y[3])  # Fourth element

45
Hello

In [14]:
# Indexing right to left - negative indexing from start -1
print(y[-1])  # Last element
print(y[-4])  # Fourth last element

False
2.5

In [15]:
#SLicing in tuple
print(y[1:4])  # From index 1 to index 3 (4 is excluded)

(56, 2.5, 'Hello')

In [16]:
print(y[-5:-2])  # From index -5 to index -3 (-2 is excluded)

(56, 2.5, 'Hello')

In [18]:
# as Tuple is immutable i.e. its elements cannot be changed, we cannot modify tuple elements like lists.
y[2]=100  # This will raise a TypeError

TypeError: 'tuple' object does not support item assignment

#### Dictionary in python
- A collection of key value pairs stored as key:value
- Keys can be unique and immutable data type but values can be anything
- A dictionary is mutable object i.e. it can be modified
- Can be created using middle/curly/flower bracket= {}

In [19]:
mydict={"name":"Yogesh","age":25,"salary":5000}
print(mydict)
type(mydict)

{'name': 'Yogesh', 'age': 25, 'salary': 5000}

dict

In [20]:
# Total number of elements in the dictionary using len()
len(mydict)

3

In [22]:
#Indexing in dictionary- Accessing values using keys
print(mydict["name"])  # Access value associated with key 'name'
print(mydict["age"])   # Access value associated with key 'age'
print(mydict["salary"])   # Access value associated with key 'salary'

Yogesh
25
5000

In [24]:
#modify the dictionary values - modify values using keys
# replace/modify values for existing pair

mydict["name"]="Pranshu"
print(mydict)

{'name': 'Pranshu', 'age': 25, 'salary': 5000}

In [ ]:
# Also we can add new key-value pairs to the dictionary
mydict["laptop"]="Dell"
print(mydict)

{'name': 'Pranshu', 'age': 25, 'laptop': 'Dell'}
{'name': 'Pranshu', 'age': 25, 'laptop': 'Dell', 'Salary': 30000}

In [31]:
# Remove a key-value pair using pop() method
mydict.pop("Salary")
print(mydict)

{'name': 'Pranshu', 'age': 25, 'laptop': 'Dell'}

In [32]:
# print keys and values separately
print(mydict.keys())  # Print all keys
print(mydict.values())  # Print all values

dict_keys(['name', 'age', 'laptop'])
dict_values(['Pranshu', 25, 'Dell'])

In [34]:
# List inside the dictionary example
m={"name":["John","Jacob","James","Jenny","Jessy"],"age":[25,28,37,38,34],"salary":[5000,6000,5500,7000,8000]}
print(m)
type(m)

{'name': ['John', 'Jacob', 'James', 'Jenny', 'Jessy'], 'age': [25, 28, 37, 38, 34], 'salary': [5000, 6000, 5500, 7000, 8000]}

dict

In [ ]:
# It will gives me all the names present in the list associated with the key "name"
m["name"]

['John', 'Jacob', 'James', 'Jenny', 'Jessy']

In [36]:
# for speficis name in the list inside the dictionary
m["name"][2] # Access the third name in the list associated with the key "name"

'James'

In [37]:
# add pair again in it
m["department"]=["HR","Finance","IT","Admin","Sales"]
print(m)

{'name': ['John', 'Jacob', 'James', 'Jenny', 'Jessy'], 'age': [25, 28, 37, 38, 34], 'salary': [5000, 6000, 5500, 7000, 8000], 'department': ['HR', 'Finance', 'IT', 'Admin', 'Sales']}

In [38]:
# Also add one more name in the list associated with the key "name" using append() method
m["name"].append("Jasmine")
print(m)

{'name': ['John', 'Jacob', 'James', 'Jenny', 'Jessy', 'Jasmine'], 'age': [25, 28, 37, 38, 34], 'salary': [5000, 6000, 5500, 7000, 8000], 'department': ['HR', 'Finance', 'IT', 'Admin', 'Sales']}

In [ ]:
# Also insert one more name at specific position in the list associated with the key "name" using insert() method
m["name"].insert(2,"Jazzy")
print(m)

{'name': ['John', 'Jacob', 'Jazzy', 'James', 'Jenny', 'Jessy', 'Jasmine'], 'age': [25, 28, 37, 38, 34], 'salary': [5000, 6000, 5500, 7000, 8000], 'department': ['HR', 'Finance', 'IT', 'Admin', 'Sales']}

#### Set in Python
- A collection of values, but it does not support repeatation of values
- Supports values of different data types
-  Sets are mutable i.e. can be modified
- it is unordered- we can not do indexing
- Widely used for set theory operations - union, intersection
- can be created using curly/middle/flower brackets = {}

In [41]:
k={45,12,'hi',5.2,10}
print(k)
type(k)

{5.2, 'hi', 10, 12, 45}

set

In [42]:
len(k)

5

In [43]:
a={4,5,2,3,6,5,8}
b={8,9,3,1,2,7,8,9}
print(a)
print(b)

{2, 3, 4, 5, 6, 8}
{1, 2, 3, 7, 8, 9}

In [ ]:
# Union of two sets means all unique elements from both sets
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
# Intersection of two sets means common elements in both sets
a.intersection(b)

{2, 3, 8}

In [47]:
# To add value to a set use add() method
a.add(10)
print(a)

{2, 3, 4, 5, 6, 8, 10}

In [48]:
# To remove value from a set use remove() method
a.remove(4)
print(a)

{2, 3, 5, 6, 8, 10}

In [49]:
# To remove any random value from the set use pop() method
a.pop()
print(a)

{3, 5, 6, 8, 10}

In [55]:
a={4,5,6,7,2,3,8}
b={1,2,3,7,8,9}
print(a)
print(b)

{2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 7, 8, 9}

In [ ]:
a.intersection_update(b) # It will keep only the common elements in set 'a' that are also present in set 'b' rest elemets are removed from set 'a'

In [53]:
print(a)
print(b)

{8, 2, 3, 7}
{1, 2, 3, 7, 8, 9}

In [57]:
a.difference(b) # It will remove all the elements from set 'a' that are also present in set 'b' and keep the rest of the elements in set 'a' intact
print(a)

{4, 5, 6}

In [56]:
a.difference_update(b) # It will remove all the elements from set 'a' that are also present in set 'b' and keep the rest of the elements in set 'a' intact.
print(a)
print(b)

{4, 5, 6}
{1, 2, 3, 7, 8, 9}

In [58]:
a={1,2}
b={3,4}
c={1,2,5,6,4}
a.union(b).intersection(c)

{1, 2, 4}

### Type Conversion
#### Type conversion for primitive data types

- int() - To convert anything to interger (except characters)
- float() - To convert anything to float (except characters)
- str() - To Convert anything to string
- bool() - To convert anything to boolean
- complex() - To convert anythinh to complex (Except characters)

In [59]:
a=45
type(a)

int

In [62]:
str(a)

'45'

In [63]:
float(a)

45.0

In [65]:
bool(a)

True

In [66]:
m=0
bool(m)

False

In [67]:
k='45'
int(k)

45

In [68]:
float(k)

45.0

### Non-Primitive Type Conversion
- list() = To convert anything to list
- tuple() = To convert anything to tuple
- dict() = To convert to dictionary
- set() = To convert to a set

In [ ]:
# list to tuple and set conversion
k=[4,5,7,8,5,2,4,3,6]
print(k)
type(k)

[4, 5, 7, 8, 5, 2, 4, 3, 6]

list

In [70]:
y=tuple(k)
print(y)
type(y)

(4, 5, 7, 8, 5, 2, 4, 3, 6)

tuple

In [71]:
m=set(k)
print(m)
type(m)

{2, 3, 4, 5, 6, 7, 8}

set

In [ ]:
# set to list and tuple conversion
p={5,7,2,9,1,4,6,8}
print(p)
type(p)

{1, 2, 4, 5, 6, 7, 8, 9}

set

In [73]:
y=list(p)
print(y)
type(y)

[1, 2, 4, 5, 6, 7, 8, 9]

list

In [75]:
z=tuple(p)
print(z)
type(z)

(1, 2, 4, 5, 6, 7, 8, 9)

tuple

In [76]:
# list to dictionary conversion

w=[['name','yogesh'],['age',25],['Salary',5000]]
print(w)
type(w)

[['name', 'yogesh'], ['age', 25], ['Salary', 5000]]

list

In [77]:
k=dict(w)
print(k)
type(k)

{'name': 'yogesh', 'age': 25, 'Salary': 5000}

dict

In [83]:
# dictionary to set conversion
m={"laptop":"hp","coutry":"India"}
m.items()

dict_items([('laptop', 'hp'), ('coutry', 'India')])

In [80]:
k=list(m.items())
print(k)
type(k)

[('laptop', 'hp'), ('coutry', 'India')]

list

In [89]:
x=["Apple","apple","Banana","Flower","Cherry"]
print(x)
type(x)

['Apple', 'apple', 'Banana', 'Flower', 'Cherry']

list

In [ ]:
x.sort() # It takes care of uppercase and lowercase letters while sorting. Uppercase letters come before lowercase letters in ASCII values.
print(x)

['Apple', 'Banana', 'Cherry', 'Flower', 'apple']

In [92]:
x.sort(reverse=True) # Sort in descending order
print(x)

['apple', 'Flower', 'Cherry', 'Banana', 'Apple']